<h1><%= @artist.name %></h1>
<% @artist.albums.each do |album| %>
<h3><%= album.name %></h3>
<ul>
	<% album.tracks.each do |track| %>
	<li>
		<%= track.name %>
		<a href=<%=track.preview_url %>>Listen Here</a> 
	</li>
	<% end %>
</ul>
<% end %>