<h1>Tracks Matching <%= params[:song_name] %></h1>

<ul>
<% @songs.each do |track| %>
<li><%= track.name %> | <a href=<%="https://open.spotify.com/track/" + track.id %>>Listen Here</a>
</li>
<% end %> 
</ul>